# Compiled class files
*.class

# Log files
*.log

# Maven
target/
.m2/
*.jar
*.war
*.nar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Spring Boot
.sts4-cache/
.classpath
.factorypath
.project
.settings
.springBeans
.vscode-settings.json

# Other
.env
.env.local
